<ion-header>

  <ion-navbar>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<!--<ion-content padding>-->
  <!--<ion-slides [pager]>-->
    <!--<ion-slide *ngFor="let slide of slides">-->
      <!--<h2>{{ slide.title }}</h2>-->
       <!--{{ slide.description }}-->
      <!--<div *ngIf="slide.button">-->
        <!--<button ion-button (click)="showImages()" round>{{ slide.button }}</button>-->
      <!--</div>-->
    <!--</ion-slide>-->
  <!--</ion-slides>-->
<!--</ion-content>-->
