login-component {
  .platform-ios {
    & ion-item {
      &.ng-valid.ng-touched {
        border-bottom: 1.5px solid #00d80d;
        .item-inner {
          border-bottom: 0 none transparent;
        }
      }

      &.ng-invalid:not(form) {
        border-bottom: 1.5px solid #f53d3d;
        .item-inner {
          border-bottom: 0 none transparent;
        }
      }
    }
  }

  .platform-android {
    & ion-item {
      &.item-input:not(.ng-pristine):last-child {
        border-bottom: none;
        box-shadow: none !important;
        .item-inner {
          box-shadow: inset 0 -2px 0 0 #32db64 !important;
        }
      }

      &.item-input.input-has-focus:last-child {
        border-bottom: none;
        box-shadow: none;
      }

      &.item-input:not(.ng-touched):last-child {
        border-bottom: none;
        .item-inner {
          border-bottom: 1px solid #dedede !important;
        }
      }
    }
  }

  .error-message {
    color: #f53d3d;
    margin-left: 16px;
    margin-top: 5px;
  }

  .login-button {
    margin: 0 auto;
    display: block;
  }
}
